.header {
    height: 30px;
    width: 100%;

    margin: 10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #160F29;
    text-align: center;
    

}